{{ form_start(form) }}
        {{ form_row(form.Nom_Categorie, {'attr': {'class': 'form-control form-control-user'}}) }}
        {{ form_row(form.Desciption, {'attr': {'class': 'form-control form-control-user'}}) }}
        {{ form_row(form.Type, {'attr': {'class': 'form-control form-control-user'}}) }}
        {{ form_row(form.Reference, {'attr': {'class': 'form-control form-control-user'}}) }}
        {{ form_row(form.Date_Ajout, {'attr': {'class': 'form-control'}}) }} <br>
        <button type="submit" class="btn btn-primary">Save</button>
{{ form_end(form) }}
